.advanced-control,
.github-branch{ display:none; }

form.boilewp-generator .form-group {
  margin-bottom: 20px;
}

form.boilewp-generator .radio label {
  font-weight: normal;
}

form.boilewp-generator label {
  font-weight: bold;
}

form.boilewp-generator span {
  background-color: #ECE387;
  padding: 2px;
  font-size: 97%;
  display: block;
}